[user]
	email = maui@threv.net
	name = Maui Threv
[core]
	excludesfile = ~/.gitignore
    pager = delta
[credential]
    helper = cache --timeout=3600
[github]
    token = 11acf64904734ecdeae7434cbee05f1e
[color]
    ui = always
[push]
    default = simple
[alias]
    furb = "!echo \"Fetch upstream\"; git fetch upstream; echo \"Rebase\"; git rebase upstream/master"
[pull]
    rebase = false
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true # use n & N to move b/w diff sections
    light = false
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default

