[user]
	name = mlsimpson
	email = maui@threv.net
[credential]
	helper = cache --timeout=3600
[github]
	token = 11acf64904734ecdeae7434cbee05f1e
[color]
	ui = always
[push]
	default = simple
[alias]
  furb = "!echo \"Fetch upstream\"; git fetch upstream; echo \"Rebase\"; git rebase upstream/master"
[pull]
	rebase = false
[core]
	excludesfile = ~/.gitignore

