body#ttrssMain, body#ttrssPrefs, body#ttrssLogin, body {
  font-size: 12px;
}

#headlines-spacer {
  height : 0%;
}

#feedTree .counterNode {
  font-size: 8px;
  line-height: 10px;
  margin-5op: 2px;
  height: 10px;
}

body#ttrssMain #feedTree .dijitTreeRow {
  height: 14px;
}
